<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Version.Hardware" value="Dummy" />

	<!-- Astro 1-->
	<!--<add key="BacklightDeviceAstroPort" value="2" />-->
	<add key="LineCamDeviceAstroPort" value="5" />
	<!--<add key="MotorDeviceAstroPort" value="4" />-->
	<add key="RotationDeviceAstroPort" value="-1" />

	<!-- Astro 2-->
	<add key="WideCamDeviceAstroPort" value="-1" />

	<add key="WideCamera.BaslerUsb.Aperture" value="5.6" />
	<add key="WideCamera.BaslerCxp.Aperture" value="5.6" />
	<add key="BacklightDevice" value="Arduino" />

	<add key="Basler.Camera0.Model" value="USB" />
	<add key="Basler.Camera1.Model" value="Cxp" />
	
	<add key="ConstantLed" value="5" />
	<add key="MainLed0" value="1" />
	<add key="MainLed1" value="5" />

	<add key="WideCamera.Kohler.TriggerIndex" value="11" />
	<add key="WideCamera.Oblique.TriggerIndex" value="12" />

	<add key="Global.LinePixelSize" value="0.121e-3" />
	<add key="Global.MaxSpeed" value="20" />
	
	<add key="LineCamera.PixelSlope" value="-0.0000161e-3" />
	<add key="WideCamera.BaslerUsb.PixelSize" value="0.899e-3" />
	<!--should compute -->
	<add key="WideCamera.BaslerCxp.PixelSize" value="1" />
	<!--should compute -->
	<add key="WideCamera.CxpCamera.MotorCoordinateMatrix" value="[[0.999785032, -0.032133408], [0.0227500, 1.000258748]]"/>
	<!--should compute -->
	<add key="WideCamera.UsbCamera.MotorCoordinateMatrix" value="[[0.999785032, -0.032133408], [0.0227500, 1.000258748]]"/>
	
	<add key="LineCamDevice" value="OctoPlus" />
	<add key="WideCamera.UsbCamera.LineInWideCalibration" value='{cx:849.00000,cy:565,r:5,a:-15,angle:5}' />
	<!--should compute -->
	<add key="WideCamera.CxpCamera.LineInWideCalibration" value='{cx:1323,cy:1173,r:5,a:-15,angle:2}' />
	<add key="MotorDevice" value="Zaber" />
	<add key="RotationDevice" value="Dummy" />
	<add key="RotationDeviceDirection" value="1" />
	<add key="WaterSensor.Threshold" value="0" />
	
	<add key="WideCamDevice0" value="Basler" />
	<add key="WideCamDevice1" value="Basler" />
	<add key="Basler.Camera0.UserSet" value="UserSet1" />
	<add key="Basler.Camera1.UserSet" value="UserSet1" />
	<add key="WideZScan.Minimum" value="1.5" />
	<add key="WideZScan.Maximum" value="1.650" />
	
	
	<add key="LensDevice" value="Dummy" />
	<add key="LensDevice.DefaultFocus" value="4100" />
	<add key="LensDevice.DefaultIris" value="250" />
	<add key="ScannerDevice" value="Dummy" />
	<add key="Basler.TimeCorrection.Factor" value="0.999968" />
	<add key="Basler.TimeCorrection.OffsetMs" value="-1" />
	<add key="Zaber.TimeCorrection.Factor" value="0.999983" />
	<add key="Zaber.TimeCorrection.OffsetMs" value="1.5" />
	<add key="Zaber.SettlePeriodMs" value="10" />
	<add key="Zaber.SettleTolerance" value="0.003" />
	<add key="Zaber.Stages" value='{x:[0,1], y:[1,1], z:[2,1]}'/>

	<!--add key="WideCam.FrameRateLimit" value="166" /-->
	<!-- uncomment this to enable frame rate limiter -->

	<!-- Motor range -->
	<add key='X.Minimum' value='0' />
	<add key='X.Maximum' value='5' />
	<add key='X.Polarity' value='1' />
	<add key='X.Parking' value='2.5' />
	<add key='X.StepSize' value='0.1' />
	<add key='Y.Minimum' value='0' />
	<add key='Y.Maximum' value='5' />
	<add key='Y.Polarity' value='-1' />
	<add key='Y.Parking' value='2.5' />
	<add key='Y.StepSize' value='0.1' />
	<add key='Z.Minimum' value='6.0' />
	<add key='Z.Maximum' value='9.0' />
	<add key='Z.Polarity' value='-1' />
	<add key='Z.StepSize' value='0.1' />

	<add key='Lens.Minimum' value='0' />
	<add key='Lens.Maximum' value='12' />
	<add key='Lens.Polarity' value='1' />
	<add key='Lens.StepSize' value='0.2' />

	<add key="Global.StartZ" value="7" />

	<!-- Imaging parameters -->
	<add key='LineCamera.Height' value='1000' />
	<add key='LineCamera.OffsetX' value='100' />
	<add key='LineCamera.OffsetY' value='0' />
	<add key='LineCamera.Width' value='1700' />
	<add key="ROI.Height" value="1216" />
	<add key="ROI.OffsetX" value="0" />
	<add key="ROI.OffsetY" value="0" />
	<add key="ROI.Width" value="1368" />

	<add key="SystemPreparation.dryMinimumPeakMedianIntensityThreshold" value="0.5" />
	<add key="SystemPreparation.WetMinimumLeftPeakMedianIntensityThreshold" value="200" />
	<add key="SystemPreparation.WetMinimumRightPeakMedianIntensityThreshold" value="50" />
	<add key="WaterDetection.minimumLeftPeakMedianIntensityThreshold" value="200" />
	<add key="WaterDetection.minimumRightPeakMedianIntensityThreshold" value="50" />


	<!-- trigger mode options: Internal, ExternalFrame, ExternalFrameFullExposure, ExternalLine, ExternalLineFullExposure, ExternalMixed-->
	<add key="OctoPlus.TriggerMode" value="Internal" />
	<add key="LineCamera.ExternalTriggerPeriodInuSec" value="50" />
	<add key="LineCamera.ExternalTriggerLinesNumInFrame" value="1000" />

	<add key='OctoPlus.LinePeriod' value='5000'/>
	<add key='OctoPlus.Exposure' value='4930'/>

	<add key="waterDetectionIntervalLength" value="1.0" />
	<add key='SpaceMouse.Enabled' value='TRUE' />
	<add key='SpaceMouse.FocusSensitivity' value='100000' />
	<add key='SpaceMouse.StageSensitivity' value='15000' />
	<add key='SpaceMouse.Mode' value='Rotation' />

	<add key='PreLensExperimentSequence.ScanSpeed' value='0.020' />
	<add key='PreLensExperimentSequence.PreLensMin' value='0.0' />
	<add key='PreLensExperimentSequence.PreLensMax' value='12.0' />
	<add key='PreLensExperimentSequence.PreLensStep' value='0.500' />
	<add key='PreLensExperimentSequence.ScanRange' value='0.120' />
	<add key='LineCamera.Amplitude' value='0' />
	<add key='LineCamera.Frequency' value='100' />
	<add key='LineCamera.Offset' value='-0.002' />
	<add key='LineCamera.PhaseDelay' value='0' />
	<add key='LineCamera.StaticValue' value='-0.04' />


	<add key='AberrationManualSequence.PreLensStep' value='2' />
	<add key='AberrationManualSequence.ScanSpeed' value='1' />

	<add key='UsbCam.UseTimestampSync' value='1' />
	<add key='UsbCam.TriggerIntervalInMs' value='6.5' />
	
	
	<add key='DepthOfFocus' value='16' />
	<add key='Lens' value='75mm' />
	<add key='WideCamera.Arduino.LedColorsPattern' value='[[8]]' />
	<add key='WideCamera.Arduino.PinRoles' value='{"CXP":{"camera_pin":8,"led_groups":[]}}' />
	<add key="BacklightWavelengths" value="{1:490,2:560,3:530,4:630,5:452,6:999,7:999,8:999,9:999}" />
	<add key="ConstantBacklightWavelengths" value="{}" />
	<add key="LedPositionsWide0" value="{5:'Even_Ilumination', 6: 'TODO', 7: 'TODO',8: 'TODO', 9: 'TODO'}" />
	<add key="LedPositionsWide1" value="{1:'Left',2:'Left',3:'Left',4:'Left'}" />
	<add key="IlluminationWide0" value="{5:'Kohler', 6: 'TODO', 7: 'TODO',8: 'TODO', 9: 'TODO'}" />
	<add key="IlluminationWide1" value="{1:'OBLIQUE',2:'OBLIQUE',3:'OBLIQUE',4:'OBLIQUE'}" />
	<add key="WideCamera.CxpCamera.DefaultExposure" value="1500" />

	<!-- WideZScan -->
	<add key="WideZScan.Speed" value="1.25" />
	<add key="WideZScan.MinScanDelta" value="0" />
	<add key="WideZScan.MaxScanDelta" value="0.100" />

	<add key="LedController.Device" value="Dummy" />

</appSettings>
