<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Version.Hardware" value="VB3002" />

	<!-- Astro 1-->
	<add key="BacklightDeviceAstroPort" value="2" />
	<add key="LineCamDeviceAstroPort" value="1" />
	<add key="MotorDeviceAstroPort" value="4" />
	<add key="RotationDeviceAstroPort" value="5" />

	<!-- Astro 2-->
	<add key="WideCamDeviceAstroPort" value="-1" />

	<add key="WideCamera.BaslerUsb.Aperture" value="5.6" />
	<add key="WideCamera.BaslerCxp.Aperture" value="5.6" />
	<add key="BacklightDevice" value="Arduino" />
	<add key="BacklightWavelengths" value="{1:530,2:530,3:530,4:530, 5:530, 6:530, 7:530, 8:530, 9:530}" />
	<add key="ConstantBacklightWavelengths" value="{10:452}" />

	<add key="Basler.Camera0.Model" value="USB" />
	<add key="Basler.Camera1.Model" value="Cxp" />
	<add key="MainLed0" value="10" />
	<add key="MainLed1" value="9" />

	<!-- 09.03.2026 -->
	<add key="Global.LinePixelSize" value="0.116e-3" />
	<add key="LineCamera.PixelSlope" value="-4.41e-9" />
	<add key="Global.MaxSpeed" value="20" />
	<add key="WideCamera.BaslerUsb.PixelSize" value="0.863e-3" />
	<add key="WideCamera.BaslerCxp.PixelSize" value="0.534e-3" />

	<!-- 24 feb 2026 -->
	<add key="WideCamera.UsbCamera.MotorCoordinateMatrix" value="[[0.99990,0.01425],[-0.01425,0.99990]]"/>
	<add key="LineCamDevice" value="OctoPlus" />

	<!-- pre 05 jan-->
	<!--<add key="WideCamera.UsbCamera.LineInWideCalibration" value="{cx:729,cy:737,r:-14,a:5,angle:-174}" />-->
	<!-- 05 jan-->
	<add key="WideCamera.UsbCamera.LineInWideCalibration" value="{cx:765,cy:631,r:-14,a:11,angle:-159.5}" />
	<add key="WideCamera.CxpCamera.LineInWideCalibration" value="{cx:771,cy:895,r:-22,a:8,angle:-161}" />

	<add key="MotorDevice" value="Zaber" />
	<add key="RotationDevice" value="Elliptec" />
	<add key="RotationDeviceDirection" value="-1" />
	<add key="WaterSensor.Threshold" value="0" />
	<add key="WideCamDevice" value="Basler" />
	<add key="WideCamDevice0" value="Basler" />
	<add key="WideCamDevice0.TriggerPin" value="7" />
	<add key="WideCamDevice1" value="Basler" />
	<add key="WideCamDevice1.TriggerPin" value="8" />
	<add key="WideCamera.Arduino.LedColorsPattern" value="[[1,5,11,12],[2,12],[3,12]]" />
	<add key="WideCamera.Arduino.PinRoles" value='{"CXP":{"camera_pin":12,"led_groups":[[1,2,3]]},"USB":{"camera_pin":11,"led_groups":[[5]]}}' />
	<add key="Basler.Camera0.UserSet" value="UserSet1" />
	<add key="Basler.Camera1.UserSet" value="UserSet1" />
	<add key="LedPositionsWide0" value="{10:'Even_Ilumination'}" />
	<add key="LedPositionsWide1" value="{1:'LB',2:'LC',3:'LT',4:'MT',5:'RT',6:'RC',7:'RB',8:'MB',9:'center',11:'center',12:'center'}" />
	<add key="IlluminationWide0" value="{10:'Kohler'}" />
	<add key="IlluminationWide1" value="{1:'OBLIQUE',2:'OBLIQUE',3:'OBLIQUE',4:'OBLIQUE', 5:'OBLIQUE',6:'OBLIQUE',7:'OBLIQUE',8:'OBLIQUE',9:'OBLIQUE',11:'OBLIQUE',12:'OBLIQUE'}" />
	<add key="LensDevice" value="dummy" />
	<add key="LensDevice.DefaultFocus" value="4133" />
	<add key="LensDevice.DefaultIris" value="402" />
	<add key="Basler.TimeCorrection.Factor" value="0.999934" />
	<!-- 16.12.2025 -->
	<add key="Basler.TimeCorrection.OffsetMs" value="0" />
	<!-- 23.12.2025 -->
	<add key="Zaber.TimeCorrection.Factor" value="0.999988" />
	<!-- 16.12.2025 -->
	<add key="Zaber.TimeCorrection.OffsetMs" value="0" />
	<!-- 23.12.2025 -->
	<add key="Zaber.SettlePeriodMs" value="10" />
	<add key="Zaber.SettleTolerance" value="0.003" />
	<add key="Zaber.Stages" value='{x:[0,1], y:[0,2], z:[0,3]}'/>
	<add key="Arduino.TimeCorrection.Factor" value="1.0" />
	<!-- 16.12.2025 -->
	<add key="Arduino.TimeCorrection.OffsetMs" value="0" />
	<!-- to be measured -->
	<add key="LineCamera.TimeCorrection.Factor" value="1.000055" />
	<add key="WideCamera.CxpCamera.DefaultExposure" value="500" />

	<!--add key="WideCam.FrameRateLimit" value="166" /-->
	<!-- uncomment this to enable frame rate limiter -->

	<!-- Motor range -->
	<add key="X.Minimum" value="0" />
	<add key="X.Maximum" value="5" />
	<add key="X.Polarity" value="-1" />
	<add key="X.Parking" value="2.5" />
	<add key="X.StepSize" value="0.1" />
	<add key="Y.Minimum" value="0" />
	<add key="Y.Maximum" value="5" />
	<add key="Y.Polarity" value="1" />
	<add key="Y.Parking" value="2.5" />
	<add key="Y.StepSize" value="0.1" />
	<add key="Z.Minimum" value="0" />
	<add key="Z.Maximum" value="3" />
	<add key="Z.Polarity" value="1" />
	<add key="Z.StepSize" value="0.1" />
	<add key="Global.StartZ" value="2.2" />

	<!-- Imaging parameters -->
	<!-- Number of logical lines in the line image, and each line's pixel range (start-end) along the line axis. Pixels between ranges are dead area. -->
	<add key="LineCamera.NumberOfLines" value="2" />
	<add key="LineCamera.LinePixelRanges" value="0-1200,1250-1700" />
	<!-- Wide overlay per-line geometry. Line 1 is centered on the line-to-wide calibration (cx,cy,r,a). -->
	<!-- Each line's length is derived from LinePixelRanges. Line 2 starts at pixel SecondLineStartPixel of line 1 (within line 1's length) and may extend past line 1's end. -->
	<add key="LineCamera.Line1.PixelSizeMm" value="0.123e-3" />
	<add key="LineCamera.Line1.Slope" value="-4.67e-9" />
	<add key="LineCamera.Line2.PixelSizeMm" value="0.123e-3" />
	<add key="LineCamera.Line2.Slope" value="-4.67e-9" />
	<add key="LineCamera.SecondLineStartPixel" value="900" />
	<add key="LineCamera.Height" value="1000" />
	<add key="LineCamera.OffsetX" value="210" />
	<add key="LineCamera.OffsetY" value="0" />
	<add key="LineCamera.Width" value="1700" />
	<add key="ROI.Height" value="1216" />
	<add key="ROI.OffsetX" value="0" />
	<add key="ROI.OffsetY" value="0" />
	<add key="ROI.Width" value="1368" />

	<add key="SystemPreparation.dryMinimumPeakMedianIntensityThreshold" value="0.9" />
	<add key="SystemPreparation.WetMinimumLeftPeakMedianIntensityThreshold" value="1300" />
	<add key="SystemPreparation.WetMinimumRightPeakMedianIntensityThreshold" value="40" />
	<add key="WaterDetection.minimumLeftPeakMedianIntensityThreshold" value="2000" />
	<add key="WaterDetection.minimumRightPeakMedianIntensityThreshold" value="500" />
	<add key="OctoPlus.LinePeriod" value="5000" />
	<add key="OctoPlus.Exposure" value="4930" />
	<!-- trigger mode options: Internal, ExternalFrame, ExternalFrameFullExposure, ExternalLine, ExternalLineFullExposure, ExternalMixed-->
	<add key="OctoPlus.TriggerMode" value="ExternalLine" />
	<!-- 16.12.2025 -->
	<add key="LineCamera.ExternalTriggerPeriodInuSec" value="50" />
	<add key="LineCamera.ExternalTriggerLinesNumInFrame" value="1000" />
	<add key="waterDetectionIntervalLength" value="0.8" />
	<add key="SpaceMouse.Enabled" value="TRUE" />
	<add key="SpaceMouse.FocusSensitivity" value="450000" />
	<add key="SpaceMouse.StageSensitivity" value="40000" />
	<add key="LineCamera.AnalogGain" value="1" />
	<add key="XyLocking.ShiftDB" value="C:\versions\dev\HemoScope\Data\stab_shifts_100k.csv"/>

	<add key='DepthOfFocus' value='16' />
	<add key='XyLocking.FrameSelectionRate' value='8' />

	<!-- Camera Alignment Sequence -->
	<add key="CameraAlignment.NRuns" value="10" />
	<add key="CameraAlignment.MovementRange" value="0.1" />
	
	<!-- Led Controller settings -->
	<!-- Mightex. Dummy-->
	<add key="LedController.Device" value="Mightex" />
	<add key="LedController.Channels" value="[1,2]" />
	<!-- 
	<add key="LedController_<channel>.State" value="Constant/Triggered" />
	<add key="LedController_<channel>.TriggerType" value="None/HighEdge/LowEdge" />
	<add key="LedController_<channel>.Power" value="int value" />
	<add key="LedController_<channel>.LedDelayUs" value="int value" />
	<add key="LedController_<channel>.LedOnTimeUs" value="int value" /> -->
	<add key="LedController_1.State" value="Triggered" />
	<add key="LedController_1.TriggerType" value="HighEdge" />
	<add key="LedController_1.Power" value="1000" />
	<add key="LedController_1.LedDelayUs" value="0" />
	<add key="LedController_1.LedOnTimeUs" value="1000" />
	<add key="LedController_2.State" value="Triggered" />
	<add key="LedController_2.TriggerType" value="HighEdge" />
	<add key="LedController_2.Power" value="10" />
	<add key="LedController_2.LedDelayUs" value="0" />
	<add key="LedController_2.LedOnTimeUs" value="1" />

</appSettings>

