<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Arduino.DeviceFilter" value="arduino" />
	<add key="Arduino.Version" value="0.10.3" />
	<add key="AstroCOMPort" value="COM8" />
	<!--add key="WideCamAstroCOMPort" value="COM10" /-->
	<add key="AstroEnabled" value="True" />
	<add key="ElliptecCOMPort" value="COM6" />
	<add key="PICOMPort" value="USB" />
	<add key="ZaberCOMPort" value="COM9" />
	<add key="Workspace" value="D:\Measurements" />
	<add key="DebugWorkspace" value="D:\Debug" />
	<add key="CalibrationDataFolder" value="D:\CalibrationData" />
	<add key="Python.IchorAnalysisEvolved" value="C:\versions\ichor_analysis_evolved_master" />
	<add key='Python.VenvPath' value='C:\Users\User\.conda\envs\ichor_env' />
</appSettings>
