<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Arduino.DeviceFilter" value="arduino" />
	<add key="Arduino.Version" value="0.10.3" />
	<add key="AstroCOMPort" value="COM7" />
	<!--add key="WideCamAstroCOMPort" value="COM10" /-->
	<add key="AstroEnabled" value="True" />
	<add key="ElliptecCOMPort" value="COM19" />
	<!--<add key="Optotune.COMPort" value="COM4" />-->
	<add key="PICOMPort" value="USB" />
	<add key="ZaberCOMPort" value="COM8" />
	<add key="Workspace" value="C:\Measurements" />
	<add key="DebugWorkspace" value="C:\Debug" />
	<add key="CalibrationDataFolder" value="C:\CalibrationData" />
	<add key="Python.IchorAnalysisEvolved" value="c:\versions\dev\ichor_analysis_evolved" />
	<add key='Python.VenvPath' value='C:\venv\ichor_env\Scripts\' />
</appSettings>
