<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Arduino.DeviceFilter" value="arduino" />
	<add key="Arduino.MaxVersion" value="100.0.0" />
	<add key="Arduino.MinVersion" value="0.9.0" />
	<add key="AstroCOMPort" value="COM7" />
	<!--add key="WideCamAstroCOMPort" value="COM10" /-->
	<add key="AstroEnabled" value="true" />
	<add key="ElliptecCOMPort" value="COM9" />
	<!--<add key="Optotune.COMPort" value="COM4" />-->
	<add key="PICOMPort" value="USB" />
	<add key="ZaberCOMPort" value="COM11" />
	<add key="Workspace" value="E:\Measurements" />
	<add key="DebugWorkspace" value="C:\Debug" />
	<add key="CalibrationDataFolder" value="E:\CalibrationData" />
	<add key="Python.IchorAnalysisEvolved" value="c:\versions\dev\ichor_analysis_evolved" />
	<add key='Python.VenvPath' value='C:\venv\ichor_env\Scripts' />
</appSettings>