<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Arduino.DeviceFilter" value="arduino" />
	<add key="Arduino.MaxVersion" value="100.0.0" />
	<add key="Arduino.MinVersion" value="0.0.0" />
	<add key="AstroCOMPort" value="COM6" />
	<!--add key="WideCamAstroCOMPort" value="COM10" /-->
	<add key="AstroEnabled" value="False" />
	<!--<add key="ElliptecCOMPort" value="COM14" />-->
	<add key="Optotune.COMPort" value="COM3" />
	<add key="PICOMPort" value="USB" />
	<add key="ZaberCOMPort" value="COM5" />
	<add key="Workspace" value="C:\Measurements" />
	<add key="DebugWorkspace" value="C:\Debug" />
	<add key="CalibrationDataFolder" value="C:\CalibrationData" />
	<add key="Python.IchorAnalysisEvolved" value="C:\Users\User\source\repos\LiteBC\HemoScope\ichor_analysis_evolved" />
	<add key='Python.VenvPath' value='C:\venv\ichor_env\Scripts' />
</appSettings>