<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Arduino.DeviceFilter" value="arduino" />
	<add key="Arduino.MaxVersion" value="100.0.0" />
	<add key="Arduino.MinVersion" value="0.0.0" />
	<add key="AstroCOMPort" value="COM8" />
	<!--add key="WideCamAstroCOMPort" value="COM10" /-->
	<add key="AstroEnabled" value="True" />
	<add key="ElliptecCOMPort" value="COM5" />
	<add key="PICOMPort" value="USB" />
	<add key="ZaberCOMPort" value="COM4" />
	<add key="Workspace" value="C:\measurements" />
	<add key="DebugWorkspace" value="C:\Debug" />
	<add key="CalibrationDataFolder" value="C:\CalibrationData" />
	<add key="Python.IchorAnalysisEvolved" value="c:\versions\dev\ichor_analysis_evolved" />
	<add key='Python.VenvPath' value='C:\Users\User\.conda\envs\ichor_env' />
</appSettings>
