<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="Arduino.DeviceFilter" value="arduino" />
	<add key="Arduino.Version" value="0.10.3" />
	<add key="AstroCOMPort" value="COM6" />
	<!--add key="WideCamAstroCOMPort" value="COM10" /-->
	<add key="AstroEnabled" value="False" />
	<!--<add key="ElliptecCOMPort" value="COM14" />-->
	<add key="Optotune.COMPort" value="COM3" />
	<add key="PICOMPort" value="USB" />
	<add key="ZaberCOMPort" value="COM5" />
	<add key="Workspace" value="E:\Measurements" />
	<add key="DebugWorkspace" value="E:\Debug" />
	<add key="CalibrationDataFolder" value="E:\CalibrationData" />
	<add key="Python.IchorAnalysisEvolved" value="c:\versions\dev\ichor_analysis_evolved" />
	<add key='Python.VenvPath' value='C:\venv\ichor_env' />
</appSettings>
