<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="AppMode" value="Normal" />
	<add key="Interface" value="10k" />
	<add key="MassAutoScanSequence.DisableLipCheck" value="TRUE" />
	<add key="BarcodeScannerFilter" value="VID_27DD&amp;PID_0103" />
	<!-- TODO!!-->
	<add key="DeploymentSite" value="10K" />

	<add key="Python.LogLevel" value="Debug" />
	<add key="Python.SaveMode" value="OnError" />
	<add key="Python.UseWarmUp" value="True" />
</appSettings>
