<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="AppMode" value="Normal" />
	<add key="Interface" value="! 10k" />
	<add key="MassAutoScanSequence.DisableLipCheck" value="TRUE" />
	<!--<add key="BarcodeScannerFilter" value="VID_05E0&amp;PID_1200" />-->
	<add key="BarcodeScannerFilter" value="VID_0581&amp;PID_011A&amp;MI_00" />
	<add key="DeploymentSite" value="Lab" />

	<add key="Python.LogLevel" value="Debug" />
	<add key="Python.SaveMode" value="Nothing" />
	<add key="Python.UseWarmUp" value="True" />
</appSettings>
